
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İletişim</title>
</head>
<body>
    <div>
        <h1>Sakarya Bip Otomotiv</h1>
        <h3>İletişim</h3>
        <p>
            No:5454348939- Erkan Dursun
            E-mail:ekoman24@hotmail.com
            Adres: Kocaeli Gebze asdas mahallesi 1455 sokak no 7
        </p>
        <hr />
        @Html.ActionLink("Ana Sayfa", "Index")|
        @Html.ActionLink("Hakkımızda", "About")|
        @Html.ActionLink("Araçlar", "Index", "Vehicle")|
        

    </div>
</body>
</html>
